.cardImage {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.cardImage img {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    margin-bottom: 20px;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.mostPopularCard {
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.mostPopularCard:hover {
    transform: translateY(-8px);
    -webkit-transform: translateY(-8px);
    -moz-transform: translateY(-8px);
    -ms-transform: translateY(-8px);
    -o-transform: translateY(-8px);
}

.mostPopularCard:hover .cardImage img {
    box-shadow: 0 0 15px rgba(236, 96, 144, 0.6);
    transform: scale(1.03);
    -webkit-transform: scale(1.03);
    -moz-transform: scale(1.03);
    -ms-transform: scale(1.03);
    -o-transform: scale(1.03);
}

.cardTitle {
    font-size: 15px;
    font-weight: bolder;
}
.cardDesc {
    font-size: 15px;
    color: var(--link-color);
}
.cardTitleStars, .cardDescDownloads {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.cardTitleStars span , .cardDescDownloads span {
    padding-left: 5px;
    font-size: 14px;
}
@media screen and (max-width: 1024px) {
    .cardTitle {
        font-size: 13px;
    }
    .cardDesc {
        font-size: 13px;
    }
    .cardTitleStars span , .cardDescDownloads span {
        font-size: 12px;
    }
    
}